@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-colums: repeat(auto-fill, minmax(20rem, 1fr));
  grid-template-rows: 50px 300px 200px 600px 300px auto;
  grid-gap: 1rem;
  background: #151515;
  /* height: 100vh;
  width: 100vw; */
  color: #d9d9d9;
}

.container > * {
  padding: 1em;
  border: 1px solid white;
}
